@charset "UTF-8";

/*共通部分
-------------------------------*/
html{
    font-size: 100%;
}
body{
    font-family:"sans-serif";
    line-height:1.7;
    color:#E8EAED;
    background-color:#202124
}
a{
    text-decoration: none;
}

/*レイアウト*/
.wrapper{
    max-width:1120px;
    margin:auto;
    padding: 3rem 30rem;
}
.cover{

    background-size:cover;
}
/*ヘッダー*/
.page-header{
    padding-top:.5rem;
}
.main-nav{
    display:flex;
    justify-content:flex-end;
    list-style:none;
    font-size:1.5rem;
    gap:2rem
}
.main-nav a{
    color:#9AA0A6
}
.main-nav a:hover{
    color:#E8EAED
}
/*見出し*/
.page-title{
    font-size:4rem;
    text-align:left;
    margin-top:4rem;
    margin-bottom:-1.5rem
}
.title-information{
    color:#9AA0A6;
    margin-bottom:3rem
}
/*記事一覧*/
.articles{
    font-size:1.5rem;
    width:100%;
    border-spacing:0;
}
.articles td{
    border-bottom:1px solid #E8EAED;
    border-color:#9AA0A6;
    padding: 1rem 0;
}
.articles td a{
    display:block;
    color:#E8EAED
}
.date{
    text-align:right
}
/*記事本文*/
/*フッター*/
.copyright{
    text-align:center;
    padding:2rem 0;
    margin-top:6rem;
}