@charset "UTF-8";

/*共通部分
-------------------------------*/
html{
    font-size: 100%;
}
body{
    font-family:"sans-serif";
    line-height:1.7
}
.main-color-dark{
    color:#E8EAED;
    background-color:#202124
}
.sub-color-dark{
    color:#9AA0A6
}
.sub-color-dark:hover{
    color:#E8EAED
}
.main-color-light{
    color:black;
    background-color:white
}
.sub-color-light{
    color:#9AA0A6
}
.sub-color-light:hover{
    color:black
}
a{
    text-decoration: none;
}
/*レイアウト*/
.wrapper{
    max-width:1120px;
    padding: 3rem 20rem;
}
.cover{
    background-size:cover;
}
/*ヘッダー*/
.page-header{
    padding-top:.5rem;
}
.main-nav{
    display:flex;
    justify-content:flex-end;
    list-style:none;
    font-size:1.5rem;
    gap:2rem
}
/*ボタン*/
#btn{
    background:#0bd;
    padding:1rem;
    margin-bottom:2rem;
    font-size:1rem;
    color:#fff;
    border-radius:8px;
    border:0;
    cursor:pointer;
}
#tagbtn{
    background:#0bd;
    padding:0.5rem;
    margin-bottom:2rem;
    margin-right:1rem;
    font-size:100%;
    color:#fff;
    border-radius:8px;
    border:0;
    cursor:pointer;
}
/*プログレスバー*/
#bar{
    background-color:#0bd;
    position:fixed;
    top:0;
    left:0;
    height:10px;
}
/*見出し*/
.page-title{
    font-size:4rem;
    text-align:left;
    margin-top:4rem;
    margin-bottom:-1.5rem
}
.title-information{
    margin-bottom:3rem
}
/*記事一覧*/
.articles{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid;
    align-items: baseline; /* 追加 */
    text-decoration:none;
    margin-bottom:1rem
}
.article-title{
    font-size:1.5rem;
    padding: 0 1rem
}
.article-date{
    font-size:1rem;
    padding: 0 1rem
}
/*記事本文*/

/*フッター*/
.copyright{
    text-align:center;
    padding:2rem 0;
    margin-top:6rem;
}